.fond_accueil {
    position: relative;
	width : 100%;
}
.fond_accueil .nom_site {
    position: absolute;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 50%;
    top: 50%;
	transform: translate(-50%, -50%);
    color: white;
	font-size: 40px;
	background-color: rgba(50, 25, 0, 0.7);
	width: 80%;

}

*{
	margin: 0;
}

main{

	margin-bottom: 50px;

}

body{
	background-color:#AE8964;
	text-align: justify;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
	padding-bottom: 7px;
	background-color: #906247;
	position: relative;
	display: block;
}

nav{
	display: flex;
    justify-content:space-around;
	padding: 0px 50px;
}

nav a{
	color: #552600;
	font-weight:bold;
	text-decoration: none;
	
}
nav a:hover{
	color:#552600;
	background-color:#D2B48C;
	border-bottom: 2px solid;
}

a div.flex-container :hover{
	color:#552600;
	background-color:#D2B48C;
	border-bottom: 2px solid;
	opacity: 0.53;
}



a {
	color: #6f3b12 ;
}

a :hover {
	font-style: italic;
}


flex-container {
	flex-direction: row;
	vertical-align: middle;
	justify-content: space-around;
	flex : 1;
	flex-wrap: wrap;
	padding: 20px;
}


h2 {
	margin: 10px;
	font-size: 18px;
	margin-left: 30px;
}

li h2 {
	margin-left: 5px;
}

h1 {
	margin: 10px;
	margin-left: 20px;
	text-align: center;
	font-size: 1.5em;
}


p {
	text-align: justify;
	margin-right: 30px;
	margin-left: 30px;
}

div p {
	text-align: justify;
	margin : 20px
}

li {
	text-align: justify;
	margin-right: 20px;
	margin-left: 20px;
}


footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 5px 0;
	color: white;
	background-color: #552600;
	text-align: center;
}

table{
	align-self: center;
	background-color: #d3b49b;
	min-width: 300px;
	min-height: 150px;
}

td {
	padding: 10px;
}

th {
	text-align: center;
}

img.illustration {
	display: flex;
	flex: 1;
	margin: 10px;

	float:right; 
	max-width: 300px; 
	width: 100%; 
	flex: 1;
	border-radius: 10px;
}

.lien {
	margin-left: 30px;
}

.center {
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
}

.but {

	transition: transform 0.2s; 

	margin: 20px;
  }

.but:hover{
	transform: scale(1.02);
}
