.fond_accueil {
    position: relative;
	width : 100%;
}
.fond_accueil .nom_site {
    position: absolute;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 50%;
    top: 50%;
	transform: translate(-50%, -50%);
    color: white;
	font-size: 40px;
	background-color: rgba(50, 25, 0, 0.7);
	width: 80%;

}

*{
	margin: 0;
}

main{
	margin: 10px;
}

body{
	background-color:#AE8964;
	text-align: justify;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
	padding-bottom: 7px;
	background-color: #886441;
	position: relative;
	display: block;
}

nav{
	display: flex;
    justify-content:space-around;
	padding: 0px 50px;
}

nav a{
	color: #552600;
	font-weight:bold;
	text-decoration: none;
	
}
nav a:hover{
	color:#552600;
	background-color:#D2B48C;
	border-bottom: 2px solid;
}

ul {
	list-style-type: none;
  }
