/* Contient uniquement les ajouts a style  */
footer{
	background-color: #886441;
	text-align: left;
}

table{
	background-color: bisque;
	min-width: 300px;
	min-height: 150px;
}
.but {

	transition: transform 0.2s; 

	margin: 20px;
  }
.but:hover{
	transform: scale(1.02);
}